-
  const advantages = [
    {title: 'Релаксация и уют',   text: 'Аромасвечи создают умиротворяющую атмосферу, способствуя релаксации и уюту. Их приятные ароматы помогают снять стресс и создать комфортное окружение.'},
    {title: 'Создание атмосферы', text: 'Уникальные ароматы аромасвечей добавляют особую нотку в каждое помещение, создавая атмосферу, соответствующую настроению и предпочтениям'},
    {title: 'Декоративность',     text: 'Свечи становятся стильным элементом интерьера, добавляя красоту и уют в помещение. Их дизайн и цвет подчеркивают декор и создают приятный визуальный эффект'},
    {title: 'Ароматерапия',       text: 'Использование аромасвечей с натуральными ароматами может оказывать благотворное воздействие на эмоциональное состояние, улучшая настроение и создавая позитивный опыт'}
  ]

section.advantages 
  .container 
    .section-titlebox
      h5.section-title.advantages__title Свежий подход
    .advantages__box 
      img.advantages__foto(src="img/img-5.webp", alt="@")
      .advantages__items 
        each item in advantages 
          .advantage 
            img.advantage__icon(src="img/svg/icon-check.svg", alt="@")
            .advantage__name= item.title 
            p.advantage__text= item.text
