footer.footer#contacts
  .container 
    h5.footer__title Контакты
    .footer__contacts 
      span.footer__contact Москва, ул. Флотская 5, корп. А, офис 402
      a.footer__contact.footer__contact--mail(href="mailto:promo@promoline.ru") promo@promoline.ru
      a.footer__phone(href="tel:+74951551967") 8 (495) 155 1967
