include ./../mixins/_mixin.pug

-
  const menu = [
    {text: 'каталог',  link: ''},
    {text: 'обзор',    link: ''},
    {text: 'состав',   link: ''},
    {text: 'контакты', link: ''}
  ]

header.header
  .container 
    .header__box 
      img.logo(src="img/svg/logo.svg", alt="@")
      .menu 
        ul.menu__list 
          each item in menu 
            li.menu__item 
              a.menu__link(href="")= item.text  
      button.burger 
        each span in [1, 2, 3]
          span  