section.home 
  h1.home__title создаём ароматы для жизни
  .container
    .home__box
      img.home__img(src="img/home-candle.png", alt="@")
      .home__bottom 
        p.home__text Бренд ароматических диффузоров, свечей, саше, домашних духов и ароматизаторов для авто, сочетающий в себе эстетику и гармонию с ноткой дерзости. Создаем уют в доме и общественных местах
        a.button.home__button(href="#") Каталог 