section.present 
  .container 
    h5.present__title #[span.present__title--italic Украсьте] СВОЙ БИЗНЕС #[span.present__title--italic ароматами] ОТ BLACK ORANGE
    .present__box.present__box--grid1-1 
      .present__content
        p.present__text Мы приглашаем вас стать частью успешной истории Black Orange, ведущего бренда в области натуральных аромасвечей. Предлагаем вам возможность обогатить ваш бизнес уникальными продуктами, которые добавят в ваш ассортимент магии аромата и комфорта.
        a.button.present__button(href="#") Стать партнером
      img.present__foto.present__foto--fullheight(src="img/img-8.webp", alt="@")