section.present 
  .container 
    h5.present__title
      | МЫ СОЗДАЛИ БРЕНД 
      span.present__title--italic аромасвечей,
      br
      span.present__title--pl220 ОБЪЕДИНЯЮЩИЙ НАТУРАЛЬНОСТЬ,
      br
      span.present__title--pl110 УНИКАЛЬНЫЕ АРОМАТЫ И 
      span.present__title--italic стильный дизайн
    .present__box.present__box--grid1-1
      img.present__foto(src="img/img-3.webp", alt="@")
      img.present__foto(src="img/img-4.webp", alt="@")