section.present 
  .container 
    h2.present__title 
      span.present__title--italic Black Orange - 
      | СТИЛЬНЫЕ АРОМАТЫ,
      br
      span.present__title--pl110  ДОЛГО СОЗДАЮЩИЕ 
      span.present__title--italic приятную атмосферу 
      | В ПОМЕЩЕНИИ,
      br
      | ИЗГОТОВЛЕННЫЕ 
      span.present__title--italic из натуральных 
      | ГИПОАЛЛЕРГЕННЫХ КОМПОНЕНТОВ
    .present__box.present__box--grid2-1
      img.present__foto(src="img/img-1.webp", alt="@")
      img.present__foto(src="img/img-2.webp", alt="@")
