
@font-face {
	font-family: 'Aeroport';
	src: url('../fonts/Aeroport/Aeroport.eot');
	src: local('Aeroport'),
			url('../fonts/Aeroport/Aeroport.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Aeroport/Aeroport.woff2') format('woff2'),
			url('../fonts/Aeroport/Aeroport.woff') format('woff'),
			url('../fonts/Aeroport/Aeroport.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aeroport';
	src: url('../fonts/Aeroport/Aeroport-Bold.eot');
	src: local('Aeroport Bold'), local('Aeroport-Bold'),
			url('../fonts/Aeroport/Aeroport-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Aeroport/Aeroport-Bold.woff2') format('woff2'),
			url('../fonts/Aeroport/Aeroport-Bold.woff') format('woff'),
			url('../fonts/Aeroport/Aeroport-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Aeroport';
	src: url('../fonts/Aeroport/Aeroport-Medium.eot');
	src: local('Aeroport Medium'), local('Aeroport-Medium'),
			url('../fonts/Aeroport/Aeroport-Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Aeroport/Aeroport-Medium.woff2') format('woff2'),
			url('../fonts/Aeroport/Aeroport-Medium.woff') format('woff'),
			url('../fonts/Aeroport/Aeroport-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Playfair Display", serif;
	src: url('../fonts/Playfair/PlayfairDisplay.eot');
	src: local('Playfair Display'), local('PlayfairDisplay'),
			url('../fonts/Playfair/PlayfairDisplay.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Playfair/PlayfairDisplay.woff2') format('woff2'),
			url('../fonts/Playfair/PlayfairDisplay.woff') format('woff'),
			url('../fonts/Playfair/PlayfairDisplay.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


