:root{
	--font-0: 'Aeroport';
	--font-1: 'Playfair Display', serif;

	--color-0: #707070;
	--color-1: #ECEEE9;
	--color-2: #000;
	--color-3: #E65921;
	--color-4: #262626;
	--color-5: #1D1D1D;
	--color-bg: #191919;
}

$mediaWidth1: 565px;
$mediaWidth2: 768px;
$mediaWidth3: 992px;
@mixin mediaWidth1{
	@media(max-width: $mediaWidth1){
		@content;
	}
}
@mixin mediaWidth2{
	@media(max-width: $mediaWidth2){
		@content;
	}
}
@mixin mediaWidth3{
	@media(max-width: $mediaWidth3){
		@content;
	}
}
