<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Black Orange | Templates
		
		style. 
			.templates{
				padding: 50px;
			}
	
	body
		include ./../sections/_header.pug


		.templates

			h1(style="margin-bottom: 30px") Шрифты

			h1(style="margin-bottom: 30px") Aeroport

			p(style="margin-bottom: 30px; font-family: var(--font-0)") Aeroport regular Aeroport regular Aeroport regular Aeroport regular Aeroport regular Aeroport regular Aeroport regular Aeroport regular

			p(style="margin-bottom: 30px; font-family: var(--font-0); font-weight: 500") Aeroport medium Aeroport medium Aeroport medium Aeroport medium Aeroport medium Aeroport medium Aeroport medium Aeroport medium Aeroport medium Aeroport medium Aeroport medium
			
			p(style="margin-bottom: 30px; font-family: var(--font-0); font-weight: bold") Aeroport bold Aeroport bold Aeroport bold Aeroport bold Aeroport bold Aeroport bold Aeroport bold Aeroport bold Aeroport bold Aeroport bold Aeroport bold
			
			h1(style="margin-bottom: 30px; font-family: 'Playfair Display', serif;") Playfair

			p(style="margin-bottom: 30px; font-family: 'Playfair Display', serif;") Playfair Display Playfair Display Playfair Display Playfair Display Playfair Display Playfair Display Playfair Display Playfair Display Playfair Display Playfair Display Playfair Display Playfair Display

		include ./../sections/_footer.pug
		
		include ./../sections/_scripts.pug